<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Docker App</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet">

    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar navbar-dark" style="background-color: #02a86b;">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">SECTION</a>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    </ul>
                </div>
            </div>
        </nav><br><br>
        <div class="container">
            <div class="card">
                <div class="card-header">
                    DOCKER ON GCE
                </div>
                <div class="card-body">
                    <h5 class="card-title">DEPLOY DOCKER CONTAINER TO GOOGLE COMPUTE ENGINE</h5>
                    <p class="card-text">
                        Google Compute Engine(GCE) is a  high end compute service that allows developers to create and run virtual machines on Google’s underlying secure andf reliable infrastructure.
                        USing GCE takes advantage of the complex computing capabilities, with heavy workload without need to acquire them independently.
                        Docker is a containerization technology that allows packaging of an application and its libraries into one so that the application can easily be run without the need to do further configurations.
                    </p>
                    <a href="#" class="btn" style="background-color: #02a86b; color: #fff;">view article</a>
                </div>
            </div>
        </div>
    </body>
</html>
